<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Admin Login&nbsp;<a id="dontknow">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </a></h3>
      <script type="text/javascript">
        $('#dontknow').popover({
          placement: 'bottom',
          html: true,
          title: "Don't know your login?",
          content: 'An admin login is created by logging into your Form.io project, and adding an entry to the <strong>Admin</strong> resource.'
        })
      </script>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
</div>
